.messages li:last-child {
  z-index: 999;
  animation: slideUpAndRight 0.4s ease-out;
  min-width: fit-content;
}
@keyframes slideUpAndRight {
  0% {
    width: 100%;
    text-align: left;
    opacity: 0.2;
    transform: translateX(calc(50% - 50vw)) translateY(44px);
  }
  60% {
    text-align: center;
  }
  90% {
    width: 5%;
    text-align: right;
    opacity: 0.9;
    transform: none;
  }
  100% {
    width: fit-content;
    transform: none;
  }
}
